*, html, body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.block {
  width: 100%;
  height: 100px;
  background: red;
  margin-bottom: 20px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.block1:not(.first) {
  width: 50%;
  height: 150px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: #369;
  margin: 100px 120px 70px 30px;
}
.block1:not(.first):hover {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2) inset;
}
.block1:not(.first) ul {
  background: red;
  display: flex;
  justify-content: space-around;
}
.block1:not(.first) ul li a {
  font-size: 10px;
  font-weight: 700;
  font-family: fantasy, sans-serif;
  text-decoration: underline;
  color: red;
}
.block1:not(.first) ul li a:hover {
  color: azure;
}

span {
  font-size: 27px;
  font-weight: 700;
  font-family: fantasy, sans-serif;
  text-decoration: underline;
  color: purple;
  margin: 100px 120px 70px 30px;
  display: block;
}